* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background: linear-gradient(to right, #C8E0E8, #3FC5F2 );
}

.main {
  margin-left: 40%;
  margin-top: 175px;
}

.clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.displaydate {
  font-family: 'Orbitron', sans-serif;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

.day_night {
  padding-left: 125px;
}
